/* ------- VARIABLES -------- */

$purple: #4245AC;
$green: #00F1C2;
$grey: #EBF7FF;
$purple-2: #5660D8;
$green-2: #61D7DA;
$purple-3: #9769F5;
$orange: #F7BC7C;

/* ------- MAIN INFO -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: $purple;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: $purple;
    font-size: 15px;
    font-style: normal;
}


/* ------- TITLES, TEXTS -------- */

h1,
h2 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 3.5rem;
}

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-sora {
    font-family: "Sora", sans-serif;
}

.fw-regular {
    font-weight: 400;
}

.fw-medium {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

.font-size-1 {
    font-size: 3.5rem;
}

.font-size-2 {
    font-size: 2.29rem;
}

.font-size-3 {
    font-size: 2rem;
}

.font-size-4 {
    font-size: 1.6rem;
}

.font-size-5 {
    font-size: 1.4rem;
}

.font-size-6 {
    font-size: 0.86rem;
}

.font-size-regular {
    font-size: 1rem;
}

.text-black {
    color: black;
}

.text-purple {
    color: $purple;
}

.text-green {
    color: $green;
}

.text-grey {
    color: $grey;
}

.text-purple-2 {
    color: $purple-2;
}

.text-green-2 {
    color: $green-2;
}

.text-purple-3 {
    color: $purple-3;
}

.text-orange {
    color: $orange;
}


/* ------- BACKGROUNDS -------- */

.bg-white {
    background-color: white;
}

.bg-purple {
    background-color: $purple;
}

.bg-green {
    background-color: $green;
}

.bg-grey {
    background-color: $grey;
}

.bg-purple-2 {
    background-color: $purple-2;
}

.bg-green-2 {
    background-color: $green-2;
}

.bg-purple-3 {
    background-color: $purple-3;
}

.bg-orange {
    background-color: $orange;
}


/* -----  BORDERS, SHADOWS AND OTHER  ----- */

.border-purple {
    border-color: $purple !important;
}


/* ------- NAVBAR -------- */
  
.navbar-brand img {
    width: 190px;
}

.nav-item {
    margin-right: 40px;
}

.nav-link {
    color: white;
    font-size: 1.14rem;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    opacity: 0.7;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    transition: ease 0.3s;
}

.nav-link:hover {
    color: $green;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    text-decoration-color: unset;
    transition: ease 0.3s;
}


/* ------- HEADER -------- */

header {
    min-height: calc(100vh - 144px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.header-image {
    width: 75%;
    height: 85vh;
    object-fit: contain;
    object-position: right bottom;
}


/* ------- FOOTER -------- */


/* ------- BUTTONS -------- */

.btn {
    min-width: 150px;
    padding: 10px 30px;
    font-size: 1.4rem;
}

.btn.bg-green:hover {
    color: $purple;
    background-color: white;
    transition-duration: 0.3s;
}

.button-style-none {
    border: none !important;
    background: transparent !important;
}

button:active {
    outline: none !important;
    border: none !important;
}
  
button:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;
}


/* ------- POSITIONING -------- */

.py-sec {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.mb-title {
    margin-bottom: 3rem;
}

.end-6 {
    right: 6%;
}

.op-07 {
    opacity: 0.7;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}


/* ------- ACTIONS -------- */

.hover-x {
    color: #212529;
    &:hover {
        color: #000;
    }
}

.link-u {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    transition-duration: 0.25s;
}

.link-u:hover {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    text-decoration-color: unset;
    transition-duration: 0.25s;
}

.pointer {
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
}


/* ------- OTHER -------- */

.social-link {
    width: 48px;
    height: 48px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: ease 0.3s;
}

.social-link:hover {
    background-color: white;
    transition: ease 0.3s;
    path {
        fill: $purple;
        transition: ease 0.3s;
    }
}

.service-card {
    background-color: $purple;
    transition: ease 0.3s;
}

.service-card img {
    height: 80px;
    transition: ease 0.3s;
}

.service-card:hover {
    background-color: rgb(56, 59, 152);
    transition: ease 0.3s;
    img {
        transform: scale(1.05);
        transition: ease 0.4s;
    }
}


/* ------- QUERIES -------- */

// Small devices
@media (max-width: 991px) {
    .nav-link {
        font-size: 2.5rem;
        opacity: 1;
    }

    .header-image {
        width: 85%;
        height: 65vh;
    }

    .pt-3-mob {
        padding-top: 2rem !important;
    }
}

// Small devices
@media (min-width: 576px) {}

// Medium devices
@media (min-width: 768px) {}

// Large devices
@media (min-width: 992px) {
    .container {
        width: 85%;
    }

    .position-lg-absolute {
        position: absolute;
    }

    .navbar-collapse {
        border: 0 !important;
    }

    header {
        min-height: 100vh;
    }

    .w-lg-50 {
        width: 50%;
    }
    
    .py-sec {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    .mb-title {
        margin-bottom: 4rem;
    }

    .service-card img {
        height: 120px;
    }

    h1,
    h2,
    .font-size-1 {
        font-size: 4.36rem;
    }
}

// Extra large devices
@media (min-width: 1600px) {
    .container {
        width: 78%;
    }
}